*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}

#container{
    width: 70%;
    background-color: red;
    margin: 0px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    height: 150px;
    background-color: aqua;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    min-height: 700px;
    float: left;
    background-color: #CCC;
    text-align: center;
    line-height: 700px;
}

#articles{
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: lemonchiffon;
}

#articles article{
    width: 20%;
    height: 150px;
    background-color: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 30px;
}

/*RESPONSIVE*/
/*Desde el ancho 0px hasta el 826px de pantalla*/
@media(max-width: 826px){
    /*Se ejecutaron los estilos de arriba*/
    #container{
        overflow: hidden;
    }

    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 20.5px;
    }

    #articles{
        width: 100%;
    }

    #articles article{
    width: 70%;
    background-color: tomato;
    }
}

@media(max-width: 554px){
    body{
        background-color: salmon;
    }
}

footer{
    background-color: lightgreen;
}